<nav class="navbar text-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand">IMDb - movie list</span>
  </div>
</nav>

<div class="container mt-5">

  <div class="row mb-4">
    <!-- Left Side: Year, Sort By, Order By -->
    <div class="col-md-8">
      <form [formGroup]="filterByForm" class="row g-3">
        <!-- Year Input -->
        <div class="col-md-4">
          <label for="year" class="form-label">Year</label>
          <input type="number" class="form-control" id="year" formControlName="year" placeholder="Year" min="1900">
        </div>

        <!-- Sort By Select -->
        <div class="col-md-4">
          <label for="sort" class="form-label">Sort By</label>
          <select class="form-select" id="sort" formControlName="sort">
            <option value="" disabled selected>Sort By</option>
            <option [value]="sortBy.Year">Year</option>
            <option [value]="sortBy.Rating">Rating</option>
          </select>
        </div>

        <!-- Order By Select -->
        <div class="col-md-4">
          <label for="order" class="form-label">Order By</label>
          <select class="form-select" id="order" formControlName="order">
            <option value="" disabled selected>Order By</option>
            <option [value]="sortType.ASC">Ascending</option>
            <option [value]="sortType.DESC">Descending</option>
          </select>
        </div>

      </form>
    </div>

    <!-- Right Side: Cancel and Filter Buttons -->
    <div class="col-md-4 d-flex justify-content-end align-items-end">
      <button class="btn btn-outline-light me-2" (click)="clearFilter()">Clear</button>
      <button class="btn btn-light" [disabled]="!filterByForm.valid" (click)="filterBy()">Filter</button>
    </div>
  </div>


  <!-- CReate review card -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-bg-light p-3" role="button" (click)="openCreateMovieModal(createModal)"
        style="cursor: pointer;">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Add new movie review</h5>
          <i class="bi bi-plus display-4"></i>
        </div>
      </div>
    </div>


    <!-- Movie cards -->
    <div class="col-md-4 mb-4 movie-card" *ngFor="let movie of movies">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ movie.year }}</h6>
          <p class="card-text">Rating: {{ movie.rating }}</p>
        </div>
        <div class="mt-auto modify-buttons-container m-3">
          <button type="button" class="btn btn-outline-light w-100" (click)="confirmDelete(movie)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal to create new movie review-->
  <ng-template #createModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Create new movie</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="movieForm">
        <div class="mb-3">
          <label for="imdbId" class="form-label">IMDb ID</label>
          <input type="text" class="form-control" id="imdbId" formControlName="imdb_id">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year</label>
          <input type="number" class="form-control" id="year" formControlName="year">
        </div>
        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="number" step="0.1" class="form-control" id="rating" formControlName="rating">
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-light" [disabled]="movieForm.invalid" (click)="saveMovie()">Save</button>
    </div>
  </ng-template>
</div>